@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

header {
    align-items: center;
    padding: 240px 150px;
    font-family: "DM Sans", sans-serif;
    letter-spacing: 2.1px;

}

.header p {
    color: rgba(255, 255, 255, 0.7);
    margin: 10px 0 20px;
}

.resume-button {
    padding: 10px 20px;
    font-size: 24px;
    font-weight: 600;
    color: #ffffff;
    background: linear-gradient(270deg, rgb(19, 173, 199) 0%, rgb(148, 93, 214) 100%);
    border-radius: 30px;
    cursor: pointer;
    letter-spacing: 0px;
    width: 20%;
  
  }
  
  .resume-button:hover {
    background: linear-gradient(270deg, rgb(26, 149, 170) 0%, rgb(118, 75, 172) 100%);
  }
