@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .cursor-animation {
      animation: blink 0.7s infinite;
    }
  
    @keyframes blink {
      0% {
        opacity: 0;
      }
      50% {
        opacity: 1;
      }
      100% {
        opacity: 0;
      }
    }
  }

html {
  scroll-behavior: smooth;
  scroll-padding-top: 80px; /* Adjust this value to your navbar height */
}


  